@import "tailwindcss";
@import "tw-animate-css";
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --background-image-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-neutral-1: var(--neutral-1);
  --color-neutral-2: var(--neutral-2);
  --color-neutral-3: var(--neutral-3);
  --color-neutral-4: var(--neutral-4);
  --color-neutral-5: var(--neutral-5);

  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
  --color-accent-3: var(--accent-3);
  --color-accent-4: var(--accent-4);

  --color-detail-1: var(--detail-1);
  --color-detail-2: var(--detail-2);
  --color-detail-3: var(--detail-3);
  --color-detail-4: var(--detail-4);
  --color-detail-5: var(--detail-5);
  --color-detail-6: var(--detail-6);
  --color-detail-7: var(--detail-7);
}

:root {
  --radius: 0.625rem;
  --background: linear-gradient(180deg, #F5F5FF 72.99%, #E0E0FF 100%);
  --foreground: oklch(0.145 0 0);
  --neutral-1: oklch(0.255 0.052 265.55);
  --neutral-2: oklch(0.444 0.046 266.02);
  --neutral-3: oklch(0.635 0.038 262.83);
  --neutral-4: oklch(0.834 0.005 252.3);
  --neutral-5: oklch(1 0 0);
  --accent-1:oklch(0.448 0.198 262.33);
  --accent-2: oklch(0.52 0.165 261.2);
  --accent-3: oklch(0.85 0.046 257.65);
  --accent-4: oklch(0.916 0.024 257.5);
  --detail-1: oklch(0.537 0.219 26.04);
  --detail-2: oklch(0.778 0.129 18.06);
  --detail-3: oklch(0.868 0.046 257.65);
  --detail-4: oklch(0.778 0.088 274.05);
  --detail-5: oklch(0.816 0.088 238.25);
  --detail-6: oklch(0.864 0.165 142.06);
  --detail-7: oklch(0.85 0.119 72.84);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: linear-gradient(180deg, oklch(0.18 0.04 265) 72.99%, oklch(0.12 0.04 265) 100%);
  --foreground: oklch(0.985 0 0);
  --neutral-1: oklch(1 0 0);
  --neutral-2: oklch(0.834 0.005 252.3);
  --neutral-3: oklch(0.635 0.038 262.83);
  --neutral-4: oklch(0.444 0.046 266.02);
  --neutral-5: oklch(0.255 0.052 265.55);
  --accent-1: oklch(0.916 0.024 257.5);
  --accent-2: oklch(0.85 0.046 257.65);
  --accent-3: oklch(0.52 0.165 261.2);
  --accent-4: oklch(0.448 0.198 262.33);
  --color-detail-1: var(--detail-1);
  --color-detail-2: var(--detail-2);
  --color-detail-3: var(--detail-3);
  --color-detail-4: var(--detail-4);
  --color-detail-5: var(--detail-5);
  --color-detail-6: var(--detail-6);
  --color-detail-7: var(--detail-7);

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
@theme {
  --font-reddit: "Reddit Sans", ui-sans-serif, system-ui;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply text-foreground font-reddit min-h-screen bg-background;
  }
}
